RPi.GPIO>=0.7.1
gpiozero>=2.0.1

python-dotenv>=1.0.0
psycopg[binary]>=3.1.18
psycopg-pool>=3.2.2

# as7341 light sensor
adafruit-circuitpython-as7341>=1.2.2

# light and air
adafruit-blinka >= 8.0.0

# air
adafruit-circuitpython-dht>=4.0.0

# camera. these might be system deps rather than repo deps
picamera2

paho-mqtt==2.1.0